h1{
    color: blue;
}

body{
    font: italic;
}

ul{
   border-color: aquamarine;
   border-width: thick;
   border-style: dotted; 
}
p span{
    color: red;
}

.testi{
    background-color: rebeccapurple;
}

#lorem{
   font-family: monospace;
}
